{% extends 'base.html' %}
{% load static %}

{% block title %}
    Articulate
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <header class="masthead text-center" style="padding-top: 5rem;">
        <div class="container">
            <img class="img-fluid d-block mx-auto mb-5" src="{% static "img/ship.png" %}">
            <h1 data-aos="flip-left">Welcome to Articulate</h1>
            <hr data-aos="flip-left" class="star-dark">
            <div data-aos="flip-left" class="text-center mt-4"><a class="btn btn-outline-light btn-xl" href="{% url 'play_now' %}"><span>Play Now!</span></a>
        </div>
    </header>

    <section data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150" id="about" class="mb-0">
        <div class="container">
            <h2 class="text-uppercase text-center">About Articulate<sup>®</sup></h2>
            <hr class="star-dark mb-5">
            <div class="container about-bg">
                <div class=" ml-auto">
                    <p class="lead">
                        Articulate<sup>®</sup> is the classic card game that’s easy to pick up and impossible to put down!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal start -->
    
{% endblock %}
