{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Articulate</title>
    <link rel="stylesheet" href="{%static 'css/style2.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/words.js' %}" defer></script>
    <script src="{% static 'js/script.js' %}" defer></script>
  </head>  
  <body>
    <div class="main-container">
      <div class="game-board-container">
        <div class="game-board">
          <!-- Game board cells will be generated here -->
        </div>
      </div>
      <div class="container">
        <center><div class="startArea" onclick="start()"><button class="startBtn">Start the Game</button></div></center>
    
        <div class="content">
          <p class="word"></p>
          <div class="details">
            <p class="hint">Hint: <span></span></p>
            <p class="time">Time Left: <span><b>30</b>s</span></p>
            <p class="Category">Category: <span id="current-category"></span></p>
          </div>
          <input type="text" spellcheck="false" placeholder="Enter a valid word">
          <div class="buttons">
            <button class="refresh-word">Refresh Word</button>
            <button class="check-word">Check Word</button>
          </div>
        </div>
      </div>
    
      <div class="Team-boxes">
        <div class="Team-box left-Team-box">
          <h3>Team 1: <b id="scoreTeam1">0</b></h3>
          <form id="Team1-form">
            <input type="text" id="Team1-name" name="Team1-name" placeholder="Enter player name">
            <button type="submit">Add player</button>
          </form>
          <ul id="Team1-names"></ul>   
        </div>
        <div class="Team-box right-Team-box">
          <h3>Team 2: <b id="scoreTeam2">0</b></h3>
          <form id="Team2-form">
            <input type="text" id="Team2-name" name="Team2-name" placeholder="Enter player name">
            <button type="submit">Add Player</button>
          </form>
          <ul id="Team2-names"></ul>    
        </div>
      </div>
      <div class="end-game-container">
        <button class="end-game-btn" onclick="endGame()">End Game</button>
      </div>
    </div>

    
  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p id="modalText"></p>
    </div></div>

    
  </body>
</html>