{% extends 'game_base.html' %}
{% load static %}

{% block title %}
    Game Room Detail
{% endblock %}
{% block style %}
    <style type="text/css">
        /* CSS styles for the canvas element */
        canvas {
            display: block;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        /* CSS styles for the VideoGrid element */
        #VideoGrid {
            border: rgb(0, 255, 128) dotted 2px;
            width: 40%;
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
        }

        /* CSS styles for the video element */
        video {
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
{% endblock %}

{% block content %}
    
{#    <button id="id_start_btn" onclick="start_recording()"> Start Recording Game</button>#}
{#    <button id="id_pause_btn" onclick="pause_recording()" disabled> Pause Recording</button>#}
{#    <button id="id_resume_btn" onclick="resume_recording()" disabled> Resume Recording</button>#}
{#    <button id="id_stop_btn" onclick="stop_recording()" disabled> Stop Recording</button>#}
{#    {% if game_room %}#}
{#        <div style="border-style: dotted;" class="container-fluid" id="id_phaser_game"></div>#}
{#        <div>#}
{#            Game Room ID: {{ game_room.unique_game_id }}#}
{#            <br/>#}
{#            Game Room Admin: {{ game_room.admin.username }}#}
{#            <br/>#}
{#            <br/>#}
{#        </div>#}

{#        <div id="VideoGrid">#}
{#            <video id="id_stream_video" controls></video>#}
{#            <video >#}
{#                <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">#}
{#                Your browser does not support HTML video.#}
{#            </video>#}
{#        </div>#}

        <ul id="id_download_links">
        </ul>
{#    {% endif %}#}
{% endblock %}

{% block javascript %}
    <script>
        // This script tag contains only DOM elements picked using jQuery.
        let connectedList = $("#id_connected_players_{{ game_room.pk }}");
        let connectedListChildren = connectedList.children();
        let startGameButton = $('#id_start_game_{{ game_room.pk }}');
        let endGameButton = $('#id_end_game_{{ game_room.pk }}');
        let notificationList = $('#id_game_room_notifications_{{ game_room.pk }}');
        let myHandList = $("#id_hand_{{ user.username }}_{{ game_room.unique_game_id }}");
        let topCardElem = $("#id_top_card_{{ game_room.unique_game_id }}");
    </script>

    <script>





        class Game {

            static PUBLIC = 0;
            static FRIEND = 1;
            static MAX_LIMIT = 3;

            constructor(gameData) {
                this.uniqueId = gameData.uniqueId;
                this.adminUsername = gameData.adminUsername;
                this.gameType = parseInt(gameData.gameType);
                this.players = gameData.players;
                this.currentPlayerIndex = gameData.currentPlayerIndex;
                this.isGameRunning = false;
                this.coordinatesOfPlayers = {};
            }

            copyData(gameData) {
                if(gameData.topCard) {
                    this.topCard = new Card(gameData.topCard.category, gameData.topCard.number);
                    this.topColor = gameData.topColor;
                }
                this.direction = gameData.direction;
                this.currentPlayerIndex = gameData.currentPlayerIndex;
            }


            getPlayersCount() {
                return this.players.length;
            }

            getPlayers() {
                return this.players;
            }

            getCurrentPlayer() {
                if(this.currentPlayerIndex >= 0) {
                    return this.players[this.currentPlayerIndex];
                }
                else {
                    return null;
                }
            }


            connectPlayer(username) {
                if(!this.players.includes(username)) {
                    this.players.push(username);
                    {Game.addPlayersToDOM([username]);}
                }
            }

            disconnectPlayer(username) {
                if(this.players.includes(username)) {
                    this.players.splice(this.players.indexOf(username), 1);
                    Game.removePlayersFromDOM([username]);
                }
            }

            startGame() {
                if(!this.isGameRunning) {
                    this.isGameRunning = true;
                    // Altering DOM elements accordingly.
                    startGameButton.prop("disabled", true);
                    endGameButton.prop("disabled", false);
                    for(let card of myHand.cards) {
                        if(card != null) {
                            myHandList.append(`<li>Category: ${card.category} Number: ${card.number}`);
                        }
                    }
                    topCardElem.html(`Category: ${this.topCard.category} Number: ${this.topCard.number}`);
                }
            }

            endGame() {
                if(this.isGameRunning) {
                    this.setTopCard(null);
                    this.isGameRunning = false;
                    myHand.emptyHand();

                    // Altering DOM elements accordingly.
                    startGameButton.prop("disabled", false);
                    endGameButton.prop("disabled", true);
                    myHandList.empty();
                    topCardElem.html('');
                }
            }


            changeSceneRequest(socket, sceneNumber) {
                if(me === this.adminUsername) {
                    let data = {"status": "change_scene", "message": "Game is being started.", "data": {"sceneNumber": sceneNumber}};
                    let response = {"type": "change.scene", "text": data};
                    socket.send(JSON.stringify(response));
                }
            }

            startGameRequest(socket) {
                if(me === this.adminUsername) {
                    let data = {"status": "start_game", "message": "Game is being started.", "data": {}};
                    let response = {"type": "start.game", "text": data};
                    socket.send(JSON.stringify(response));
                }
                else {
                    let text = "You are not game Room Admin.";
                    textToSpeech(text);
                }
            }

            endGameRequest(socket) {
                if(me === this.adminUsername) {
                    let data = {"status": "end_game", "message": "Game is being ended.", "data": {}};
                    let response = {"type": "end.game", "text": data};
                    socket.send(JSON.stringify(response));
                }
                else {
                    let text = "You are not game Room Admin.";
                    textToSpeech(text);
                }
            }

            timeOutRequest(socket) {
                if(me === this.getCurrentPlayer()) {
                    let text = "Time out.";
                    textToSpeech(text);
                    let data = {"status": "time_out", "message": "Time Out for this player.", "data": {"username": me}};
                    let response = {"type": "time.out", "text": data};
                    socket.send(JSON.stringify(response));
                }
            }

            leaveGameRequest(socket) {
                let data = {
                    "status": "user_left_room",
                    "message": "Disconnecting...",
                    "data": {
                        "left_user_username": me,
                        "game_room_unique_id": this.uniqueId
                    },
                };
                let response = {"type": "user_left_room", "text": data};
                socket.send(JSON.stringify(response));
            }
        }
    </script>

    <script>
        // Constants
        constraintObj = {
            video: true,
            audio: true,
            // facingMode: { exact: "user" }
        };

        const STREAM = navigator.mediaDevices.getUserMedia(constraintObj);
        const peers = {};

        let currentGame = null;
        let myHand = new Hand();
        let me = "{{ user.username }}";
        let gameRoomAdmin = "{{ game_room.admin.username }}";
        let gameRoomUniqueId = "{{ game_room.unique_game_id }}";
        let redirectUrl = "{% url 'play_now' %}";
        let mediaUrl = "{{ MEDIA_URL }}";
        let peerJsHostName = "{{ peer_js_host_name }}";
        let peerJsPortNumber = "{{ peer_js_port_number }}";
        let MY_UNIQUE_PEER_ID;

    </script>
    {# <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script> #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.1/peerjs.min.js"></script>
    <script src=" {% static 'js/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/phaserjs/multiplayer/game.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/phaserjs/multiplayer/Scene1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/phaserjs/multiplayer/Scene2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/phaserjs/multiplayer/Scene3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/recording.js' %}"></script>
{% endblock %}
